.App {
  text-align: center;
}

#review-container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

img {
  width: 400px;
  height:400px;
}

button {
  margin-top: 10px;
}

.auto-slide-toggle {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.auto-slide-toggle:hover {
  background-color: #0056b3;
}